.card-header {
    background: white;    
}

.card-body {    
    height: 2.5rem;
}

.name {
    margin: 0;
    font-weight: bold;
    white-space: nowrap; 
    text-overflow:ellipsis; 
    overflow: hidden;
}

.party {
    color: grey;
    font-size: 0.8rem;    
}

.img-parlamentar {
    width: 50px;
    height: 65px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);    
}

.icons {
    text-align: center;  
    height: 100%;  
}

.icon-social {
    margin: auto;    
}

.icon-social i {
    color: #b2bbbd;
    font-size: 1rem;
    padding: 8px;
} 

.icon-social i:hover {
    color: #3e474f;
}

.card {
    width: 16rem;
}

@media (max-width: 576.1px) { 
    .card {
        width: 20rem;
    }    
}
