.card-header {
    background: white;
}

.card-body {
    background: #f8f9fa;
}

.name {
    margin: 0;
    font-weight: bold;
    white-space: nowrap; 
    text-overflow:ellipsis; 
    overflow: hidden;
}

.party {
    color: grey;
    font-size: 0.8rem;    
}

.img-circle {
    width: 90px;
    height: 90px;    
}

.img-parlamentar {
    position: relative;
    width: 90px;
    height: 90px;
    overflow: hidden;
    border-radius: 50%;    
    border: 4px solid #eee;
}

.icons {
    text-align: center;    
}

.icon-social {
    margin: auto;
}

.icon-social i {
    color: #b2bbbd;
    font-size: 1.5rem;
} 

.icon-social i:hover {
    color: #3e474f;
}

.card {
    width: 14rem;
}

@media (max-width: 576.1px) { 
    .card {
        width: 20rem;
    }    
}
